<app-carousel id="home" [carouselItems]='heroCarouselItems'></app-carousel>

<!-- Gallery -->
<app-modal-gallery></app-modal-gallery>
<!-- /grid gallery -->

<!-- General info -->
<div id="general-info" class="bg_color_1">
    <div class="container margin_60_35 py-5">
        <div class="main_title_2">
            <span><em></em></span>
            <h2>Our Origins and Story</h2>
            <p>Cum doctus civibus efficiantur in imperdiet deterruisset.</p>
        </div>
        <div class="row justify-content-between">
            <div class="col-lg-6 wow" data-wow-offset="150">
                <figure class="block-reveal">
                    <div class="block-horizzontal"></div>
                    <img src="assets/img/apartment_gallery/balcony.jpg" class="img-fluid" alt="">
                </figure>
            </div>
            <div class="col-lg-6">
                <h2>Description</h2>
                <p>
                    <span class="text-danger font-weight-bolder">Vila Ana</span> is an apartment placed in a small town called Njivice, located on the island of Krk, Croatia. It is placed within walking distance from the sea (aprox. 10 minutes). The apartment
                    is suited both for family holidays, and for groups of friends who want to create new shared memories.
                </p>
                <div class="row">
                    <div class="col-lg-6 pr-0">
                        <ul>
                            <li><i class="fa fa-bed" aria-hidden="true"></i> 4 Bedrooms (2 x double + 2 x 3/4)</li>
                            <li><i class="fa fa-bath" aria-hidden="true"></i> 2 Toliets</li>
                            <li><i class="fa fa-people-group" aria-hidden="true"></i> For 4-9 people</li>
                            <li><i class="fa fa-baby" aria-hidden="true"></i> Suitable for children</li>
                            <li><i class="fa fa-square-parking" aria-hidden="true"></i> 2 Parking Spots</li>
                            <li><i class="fa fa-paw" aria-hidden="true"></i> Pet friendly, * fee</li>
                        </ul>
                    </div>
                    <div class="col-lg-6">
                        <ul>
                            <li><i class="fa fa-wifi" aria-hidden="true"></i> Wi-Fi</li>
                            <li><img src="assets/img/hotel_facilites_icon_7.svg" style="height: 14px;" class="m-0 p-0" alt=""> Air Condition</li>
                            <li><i class="fa-solid fa-fire-burner" aria-hidden="true"></i> Gas Grill</li>
                            <li><i class="fa-solid fa-seedling" aria-hidden="true"></i> Private Garden</li>
                            <li><i class="fa-solid fa-hot-tub" aria-hidden="true"></i> Hot Tub</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<p-gmap id="location" [overlays]="mapOverlays" [options]="mapOptions" [style]="{'width':'100%','height':'100vh'}"></p-gmap>

<div id="availability" class="call_section min-vh-100" style="display: flex;">
    <div class="bg-dark px-sm-2 px-md-4 m-auto py-4 col-lg-4" style="width: fit-content;" ngsReveal>
        <div class="pl-2 m-auto pb-2">
            <h2 class="text-danger">Check Availability</h2>
        </div>

        <form method="post" action="assets/contact.php" id="contactform" autocomplete="off" class="text-light">
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Name</label>
                        <input class="form-control" type="text" id="name_contact" name="name_contact">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Last name</label>
                        <input class="form-control" type="text" id="lastname_contact" name="lastname_contact">
                    </div>
                </div>
            </div>
            <!-- /row -->
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Email</label>
                        <input class="form-control" type="email" id="email_contact" name="email_contact">
                    </div>
                </div>
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Telephone</label>
                        <input class="form-control" type="text" id="phone_contact" name="phone_contact">
                    </div>
                </div>
            </div>
            <!-- /row -->
            <div class="form-group">
                <label>Message</label>
                <textarea class="form-control" id="message_contact" name="message_contact" style="height:150px;"></textarea>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <label>Are you human? 3 + 1 =</label>
                        <input class="form-control" type="text" id="verify_contact" name="verify_contact">
                    </div>
                </div>
            </div>
            <p class="add_top_30"><input type="submit" value="Submit" class="btn_1 rounded" id="submit-contact"></p>
        </form>




        <div class="pl-2 form-group">
            <app-guest-number-input></app-guest-number-input>
            <small class="block text-light">Make sure to set the number of guests, as it determines the pricing.</small>
        </div>

        <div class="m-auto text-center d-flex flex-column">
            <label class="block text-light h3">Calendar</label>
            <app-date-range-picker></app-date-range-picker>
        </div>
    </div>
</div>

<p-scrollTop target="parent" [threshold]="150" icon="pi pi-arrow-up">
</p-scrollTop>
