<div>

    <app-header></app-header>

    <!-- /header -->
    <app-homepage></app-homepage>
    <!-- Slider -->
    <!-- <div id="full-slider-wrapper">
        <div id="layerslider" style="width:100%;height:750px;">
            <div class="ls-slide" data-ls="slidedelay: 5000; transition2d:85;">
                <img src="assets/img/home_slider/balcony1.jpg" class="ls-bg" alt="Slide background">
                <h3 class="ls-l slide_typo" style="top: 47%; left: 50%;" data-ls="offsetxin:0;durationin:2000;delayin:1000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;">
                    In the<i class="icon-heart-empty text-danger"></i>of Croatia
                </h3>
                <p class="ls-l slide_typo_2" style="top:55%; left:50%;" data-ls="durationin:2000;delayin:1000;easingin:easeOutElastic;">
                    a place ... to create new memories
                </p>
                <p class="ls-l" style="top:70%; left:50%;" data-ls="durationin:2000;delayin:1400;easingin:easeOutElastic;"><a class="btn_1 rounded" data-ls="durationin:2000;delayin:1400;easingin:easeOutElastic;" href='tours-grid-isotope.html'>Read more</a></p>
            </div>
            <div class="ls-slide" data-ls="slidedelay:5000; transition2d:103;">
                <img src="assets/img/home_slider/garden1.jpg" class="ls-bg" alt="Slide background">
                <h3 class="ls-l slide_typo" style="top: 47%; left: 50%;" data-ls="offsetxin:0;durationin:2000;delayin:1000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;">
                    <strong>Enjoy</strong> Unforgatable Holidays
                </h3>
                <p class="ls-l slide_typo_2" style="top:55%; left:50%;" data-ls="durationin:2000;delayin:1000;easingin:easeOutElastic;">
                    a place for ... quality family time
                </p>
                <p class="ls-l" style="top:70%; left:50%;" data-ls="durationin:2000;delayin:1400;easingin:easeOutElastic;"><a class="btn_1 rounded" data-ls="durationin:2000;delayin:1400;easingin:easeOutElastic;" href='tours-grid-isotope.html'>Read more</a></p>
            </div>
            <div class="ls-slide" data-ls="slidedelay: 5000; transition2d:5;">
                <img src="assets/img/home_slider/garden2.jpg" class="ls-bg" alt="Slide background">
                <h3 class="ls-l slide_typo" style="top:47%; left: 50%;" data-ls="offsetxin:0;durationin:2000;delayin:1000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;">
                    <strong>Top Attractions</strong> to discover
                </h3>
                <p class="ls-l slide_typo_2" style="top:55%; left:50%;" data-ls="durationin:2000;delayin:1000;easingin:easeOutElastic;">
                    a place ... for adventures
                </p>
                <p class="ls-l" style="top:70%; left:50%;" data-ls="durationin:2000;delayin:1400;easingin:easeOutElastic;"><a class="btn_1 rounded" data-ls="durationin:2000;delayin:1400;easingin:easeOutElastic;" href='tours-grid-isotope.html'>Read more</a></p>
            </div>
            <div class="ls-slide" data-ls="slidedelay: 5000; transition2d:5;">
                <img src="assets/img/home_slider/njivice1.jpg" class="ls-bg" alt="Slide background">
                <h3 class="ls-l slide_typo" style="top:47%; left: 50%;" data-ls="offsetxin:0;durationin:2000;delayin:1000;easingin:easeOutElastic;rotatexin:90;transformoriginin:50% bottom 0;offsetxout:0;rotatexout:90;transformoriginout:50% bottom 0;">
                    <strong>Island Krk</strong> to discover
                </h3>
                <p class="ls-l slide_typo_2" style="top:55%; left:50%;" data-ls="durationin:2000;delayin:1000;easingin:easeOutElastic;">
                    a place ... full of history
                </p>
                <p class="ls-l" style="top:70%; left:50%;" data-ls="durationin:2000;delayin:1400;easingin:easeOutElastic;"><a class="btn_1 rounded" data-ls="durationin:2000;delayin:1400;easingin:easeOutElastic;" href='tours-grid-isotope.html'>Read more</a></p>
            </div>
        </div>
    </div> -->
    <!-- End layerslider -->


    <!-- /main -->

    <app-footer></app-footer>
</div>

<script>
    $(document).ready(function() {
        alert("Workintg here")
        $('input[name="dates"]').on('apply.daterangepicker', function(ev, picker) {
            $(this).val(picker.startDate.format('MM-DD-YY') + ' > ' + picker.endDate.format('MM-DD-YY'));
        });
        $('input[name="dates"]').on('cancel.daterangepicker', function(ev, picker) {
            $(this).val('');
        });
    })
</script>
